* {
    box-sizing: border-box;
}

body {
    background-color: #46946d;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper {
    position: relative;
    min-height: 100vh; 
}

/*NAV BAR*/

.header {
    background-color: #19381F;
    display: flex;
    justify-content: space-between;
}

.mainNav {
    list-style: none;
    padding-top: 50px;
}

.logo {
    padding: 20px;
}

.logo_image {
    max-width: 300px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

a {
    font-size: 130%;
    font-weight: 700;
    padding: 25px;
    text-transform: uppercase;
    color: darkseagreen;
    text-decoration: none;
    border: 5px;
    border-radius: 10px;
}

a:hover {
    opacity: .5;
}

.active {
    opacity: .5;
}

.mainNav .icon {
    display: none;
}

/*MEDIA QUERY NAV BAR */

@media screen and (max-width: 1000px) {

    .header {
        display: block;
    }

    .mainNav {
        padding: 0px;
        float: none;
        display: block;
    }

    .mainNav a {
        display: none;
        padding: 0px 20px;
        font-size: 90%;
    }

    li {
        display: block;
        /*        margin: 0 auto;*/
    }

    .mainNav a.icon {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .logo {
        float: none;
        display: block;
    }

    .logo_img {
        width: 80%;
    }
}

/*APPLIES WHEN HAMBURGER IS TAPPED*/

@media screen and (max-width: 1000px) {
    .mainNav.responsive {
        position: relative;
    }

    .mainNav.responsive .icon {}

    .mainNav.responsive a {
        float: none;
        display: block;
        text-align: center;
        padding-bottom: 25px;
    }

    .mainNav.responsive .logo {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .header.responsive_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*BODY*/

#viewport {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

p {
    font-size: 150%;
    line-height: 150%;
    color: lightgoldenrodyellow;
    padding: 0px 50px 50px 50px;
    widows: 5;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #f3ce37;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #f3ce37;
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}

.footer {
    font-size: 120%;
    color: lightgoldenrodyellow;
    padding: 2rem 0;
    text-align: center;
    background-color: #19381F;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}


/*HOME PAGE*/

.home_text {
    max-width: 800px;
    margin: auto;
}

.flex_container_home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
}

.flex_item_home {
    width: 32%;
    margin: 5px;
}

.home_image {
    width: 99%;
    min-width: 250px;
}

.reviews_container {
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    max-width: 1500px;
    margin: 50px auto;
    border: 5px;
    border-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.reviews {
    font-family: 'Lato', sans-serif;
    font-size: 140%;
    line-height: 150%;
    color: lightgoldenrodyellow;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    text-align: center;
    max-width: 1200px;
}

.yelp {
    font-size: 100%;
    text-transform: none;
    padding: 0;
    color: darkseagreen;
    text-decoration: none;
}

.flex_container_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.flex_icons {
    padding: 5px 0px;
}

.review_icons {
    width: 60%;
}

/*ABOUT*/

.about_container {
    padding: 20px;
    margin: auto;
    max-width: 1500px;
    background-color: rgba(0, 0, 0, .1);
    border: 5px;
    border-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.location_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location_item {
    padding-bottom: 30px;
    width: 50%;
}

.address {
    text-align: left;
    max-width: 800px;
}

#gmap_canvas {
    padding-top: 25px;
    padding-right: 45px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
}

.about_text {
    max-width: 1500px;
    text-align: left;
    margin: auto;
}

.story_container {
    background-color: rgba(0, 0, 0, .3);
    border: 5px;
    border-radius: 10px;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
}

.about_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px;
}

.about_flex_item {
    width: 32%;
    margin: 5px;
}

.about_flex_image {
    width: 99%;
    /*    min-width: 250px;*/
}


/*GALLERY PAGES*/

.gallery {
    max-width: 800px;
    margin: auto;
}

.media-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.media-item {
    padding: 10px;
}

.media-item:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*GENERAL MEDIA QUERY*/

@media screen and (max-width: 1000px) {

    #viewport {
        width: 95%;
    }

    h2,
    h3 {
        font-size: 200%;
    }

    p {
        font-size: 120%;
        padding: 10px;
    }

    li {
        font-size: 120%;
    }

    .reviews,
    .about_text,
    .address,
    .address2 {
        font-size: 110%;
    }

    .reviews {
        padding: 0px;
    }

    #gmap_canvas {
        padding: 0px;
        max-width: 80%;
    }

    .footer {
        font-size: 100%;
    }

    .myImage {
        max-width: 90%;
    }

    .mySlides {
        margin: 0 auto;
    }

    .location_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .location_item {
        padding-bottom: 30px;
        width: 100%;
    }

    .flex_container_gallery {
        width: 100%;
    }

    .flex_container_home {
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

    .flex_item_home {
        width: 75%;
        margin: 5px;
    }

    .about_flex {
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

    .about_flex_item {
        width: 75%;
        margin: 5px;
    }


}